name: CI
on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: [macOS-15]
    steps:
      - uses: actions/checkout@v6
      - run: brew install swiftlint
      - run: swiftlint --version
      - run: swiftlint lint --strict --reporter github-actions-logging
  build:
    name: Build
    runs-on: [macOS-15]
    steps:
      - uses: actions/checkout@v6
      - run: xcrun simctl list runtimes
      - run: xcrun simctl list devices available iOS
      - run: xcodes select
      - run: xcodebuild -version
      - run: make build
  test:
    name: Test
    runs-on: [macOS-15]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - run: xcodes select
      - run: xcodebuild -version
      - run: make test
